body {
    background-color: white;
}

.big-container {
    justify-content: center;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    width: 40%;
    height: 70vh;
    float: left;
    padding: 0 20px;
    text-align: center;
}

.modal {
    display: none;
    position: fixed;
    background: rgb(236, 41, 41);
    padding: 10px;
    width: 260px;
    top: 100px;
    left: calc(50% - 140px);
    z-index: 1;
    border-radius: 10px;
}
